{% extends "base/base.html" %}

{% block title %}LIST BANKs VIEWS{% endblock title %}
{% block content%}
    <hr>
    <a href="{% url 'core:create_bank' %}" class="btn btn-success form-control">Create a new Bank</a>
    <table class="table">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Status</th>
            <th></th>
            <th>Actions</th>
            <th></th>
        </thead>

        <tbody>
            {% for bank in banks %}
                <tr>
                    <td>{{ bank.id}}</td>
                    <td>{{ bank.bank_name}}</td>
                    <td>{{ bank.address}}</td>
                    <td>{{ bank.status}}</td>
                    <td><a href="{% url 'core:detail_bank' bank.id %}" class="btn btn-info">Detail</a></td>
                    <td><a href="{% url 'core:update_bank' bank.id %}" class="btn btn-warning">Update</a></td>
                    <td><a href="{% url 'core:delete_bank' bank.id %}" class="btn btn-danger">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}